
<div style="width:700px; height:500px; padding:20px; text-align:center; border: 10px solid #787878">
<div style="width:650px; height:450px; padding:20px; text-align:center; border: 5px solid #787878">
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:35px"><b>{{user.username}}</b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:30px">on Musical Instruments.</span> <br/><br/>
       <span style="font-size:25px"><i>on</i></span><br>
      <p> <span id="datetime" style="font-size:30px"></span></p>
      <script>
		var dt = new Date();
		document.getElementById("datetime").innerHTML = dt.toLocaleString();
	  </script>
</div>
</div>